/* ================= RESET GLOBAL ================= */
/* Remove estilos padrões do navegador */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Inclui padding e borda dentro da largura/altura */
    list-style: none; /* Remove marcadores de lista */
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* ================= ESTILO BASE DO SITE ================= */
body {
    background-color: #000000f0;
    color: white;
    font-family: "Oswald", sans-serif ;
    font-size: 16px;
}
/* ================= HEADER ================= */
/* Barra fixa no topo */
header {

    background-color: #000000 ;

    font-size: clamp(0.9rem, 1.5vw, 1.1rem);

    position: fixed; /* Fixa no topo */
    top: 0;
    padding: 20px 2%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3; /* Fica acima de outros elementos */
    user-select: none; /* Impede seleção de texto */
    
    font-weight: 600;
}

/* ================= MENU DESKTOP ================= */
nav ul{
    display: flex; 
    
    gap: 40px; /* Espaçamento entre itens */
    cursor: pointer;
    font-weight: 900;
}

/* Efeito hover nos itens do menu */
nav ul li:hover {
    color: #E07F00; 
    transform: translateY(-1px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}
/* ================= LOGO ================= */
.logo {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: clamp(1.2rem, 2.5vw, 1.6rem);

}
/* Destaque da palavra "barbearia" */
.barbearia {
    color: #E07F00; 
}
/* ================= MENU HAMBÚRGUER ================= */
.menu-hamburguer {
    display: none; /* Escondido no desktop */
    flex-direction: column; /* Barrinhas empilhadas */
    gap: 5px;
    cursor: pointer;
}
/* Barrinhas do hambúrguer */
.menu-hamburguer span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ;
}
/* Remove sublinhado dos links */
a {
    text-decoration: none;
    color: inherit; /* Herda cor do elemento pai */
}

/* ================= HERO (BANNER PRINCIPAL) ================= */
.hero {
    height: 100vh; /* Altura total da tela */
    background-image: url(imagem/c3.png);
    background-size: cover; /* Imagem cobre toda a área */
    background-position:center;
    position: relative; /* Base para overlay */
}
/* Camada escura sobre a imagem */
.overlay {
    position: absolute;    
    inset: 0; /* Ocupa toda a área */
    background: rgb(0, 0, 0, 0.90);
}
/* Conteúdo central do hero */
.hero-content {
    position: relative;
    z-index: 1; /* Fica acima do overlay */
    

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Espaçamento das letras do parágrafo */
.hero-content p {
    letter-spacing: 2px ;
}

/* Título principal */
.hero-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
/* Destaque da palavra específica dentro do h1 */
.hero-content h1 .luck {
    color: #E07F00;
    text-shadow: 1px 1px 75px #E07F00;
}
/* ================= BOTÃO PRINCIPAL ================= */
.btn-agendar {
    display: inline-block;
    padding: 10px 26px;
    background-color: #E07F00; /* dourado/barbearia */
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px; /* levemente arredondado */
    border: none;
    cursor: pointer;
    margin-top: 19px;

    /* sombra suave (drop-shadow) */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    /* transições suaves */
    transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Efeito hover do botão principal */
.btn-agendar:hover{
    background-color: #e07f007d; /* levemente mais claro */
    transform: translateY(-3px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}
/* ================= SEÇÃO SERVIÇOS ================= */
.servicos {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    max-width: 1100px;
    margin: 45px auto;
    padding: 20px 20px;
    

}
/* Título da seção serviços */
.text-servicos{

    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Teko", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
    margin-top: 40px;
}
/* Lista de serviços */
.list-servicos {
    font-size: 24px;

    display: block;
    margin: 15px;
    margin-left: 100px;
}
/* Preço do serviço */
.list-servicos .text-price {
    font-size: 13px;

    color: #E07F00;
    
    display: flex;
    
    
}
/* Nome do serviço */
.list-servicos .text-name {
    margin-bottom: 20px;

    display: flex;
}
/* Informações adicionais do serviço */
.list-servicos .servico-info {
    font-size: 13px;
    color: #ffffff;

    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* permite quebrar a linha se necessário */
    align-items: center;
    margin-bottom: 25px;
    
}
/* borda abaixo do preço serviço */
.servicos-item {

    margin-bottom: 20px;

    border-bottom: 1px solid #ffffff42;
    width: 90%;
}
/* Remove borda do último item */
.servicos-item:last-child {  /* remove a borda do último item */
    border-bottom: none;   
}
/* ================= BOTÃO DOS SERVIÇOS ================= */
.btn-agendar-servico {
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    
    padding: 8px 12px;
    
    margin-left: auto;/* Empurra botão para direita */

    border: 1px solid white;
    border-radius: 6px;
    
    background-color: transparent;


    transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
    ;
} 
/* Hover botão serviço */
.btn-agendar-servico:hover {
    background-color: #E07F00; /* dourado/barbearia */
    transform: translateY(-2px); /* sobe um pouco */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* ================= SOBRE ================= */

.sobre {
    background-color: #e07f00dc;
    min-height: 60vh;

    margin-top: 80px;
    padding-top: 40px;
    
}

.text-sobre {
    font-family: "Teko", sans-serif;
    font-size: 2em;

    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    
}

.span-sobre {
    color:#000;
}


.descricao-sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

    
    padding-bottom: 80px;
    margin: 40px auto 0 auto;
    
}
.img-sobre {
    border-radius: 10px;
    width: 500px;
    height: 550px;
    
    box-shadow: rgba(0, 0, 0, 0.288) -10px 5px 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-sobre:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.titulo-descricao {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8em;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    width: 100%;
    max-width: 800px;
    line-height: normal;
    letter-spacing: 1px;
}
.descricao-sobre {

    color: #000000;

    padding: 50px;
    border-radius: 10px;
    letter-spacing: 0.5px;
    line-height: 1.8;
    
    margin-right: 10px; 
    text-align: left;
    max-width: 600px;
    }

.descricao-sobre p {
    font-weight: 400;
    width: 100%;
    font-family: "Oswald", sans-serif
    
}

/* ================= GALERIA ================= */

/* Título da seção Galeria */
.text-galeria{

    font-size: 2em;
    letter-spacing: 2px;
    font-family: "Teko", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
    margin-top: 40px;
}

.list-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 10px;
}

.galeria img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Manter a proporção original */
    border-radius: 8px;

    position: relative;
}

/* ================= AGENDAMENTO ================= */

.agendamento {
    background-color: #e07f00dc;

    margin: 50px 0 50px 0;
    padding: 90px 0 ;

    display: flex;
    align-items: center;
    justify-content: center;

}

.text-agendamento {
    font-size: 4em;
    letter-spacing: 2px;
    font-family: "Teko", sans-serif;
    
    margin-bottom: -3px;
}

.frase-impacto {
    
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 400;

    color: #ffffff;


}

.container-agendamento {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.paragrafo-agendamento {

    font-family: "Oswald", sans-serif;

    font-size: 1em;
    
    color: #ffffff;
    
    letter-spacing: 0.5px;
    line-height: 1.5;
    
    
    font-weight: 300;

    display: flex;
    width: 53%;
    text-align: center;


}

.btn-agendamento {
    
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    
    padding: 8px 12px; 

    border: 1px solid white;
    border-radius: 6px;
    
    background-color: transparent;

    margin-top: 30px;

    transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
}

.btn-agendamento:hover{
    

    background-color: #ff9100; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}



.horario {
    max-width: 600px;
    margin: 50px auto;

    padding-top: 30px;
    padding-bottom: 80px;
}

.horario h3 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-family: "Teko", sans-serif;

    margin-top: 40px;
    margin-bottom: 30px;
}


.list-horario li {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ffffff30;
}

.dia {
    font-weight: 500;
}

.hora {
    color: #E07F00;
}

/* ===== footer ========*/
.footer {
    background-color: #111;
    padding: 60px 20px;
    color: #fff;
}

.container-footer {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1; /* */
    min-width: 220px;
}

.footer-logo span {
    color: #E07F00;
}

.footer-slogan {
    margin-top: 10px;
    opacity: 0.7;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.footer-social img {
    width: 28px;
    transition: transform 0.2s ease, filter 0.2s ease;/**/
}

.footer-social img:hover {
    transform: translateY(-4px);
    filter: brightness(1.2);/**/
}

.footer-pagamento {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.footer-pagamento li {
    margin-bottom: 8px;
    opacity: 0.8;
}
/* ================= RESPONSIVIDADE - TABLET ================= */
@media (min-width: 768px) and (max-width: 1024px) {
    nav ul{
    gap: 15px;
    font-size: 0.85rem;
    }
    
    .servicos {
    margin-left: 50px;
    margin-right: 50px;
    }

    .list-servicos {
    margin-left: 50px;
    font-size: 20px;
    }

    .list-servicos .servico-info {
    gap: 15px;        
    }

    /* ================= SOBRE RESPONSIVO ================= */
    .sobre {
    background-color: #e07f00;
    min-height: 60vh;
    }

    .text-sobre {
    
    margin-top: 10px;
    }

    .descricao-sobre-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .img-sobre {
    border-radius: 10px;
    
    height: auto;
    width: 100%;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    }

    .descricao-sobre {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    
    width: 600px;
    }

    .titulo-descricao {
    display: flex;
    margin-left: 0;
    justify-content: left;
    align-items: left;
    }

}


/* ================= RESPONSIVIDADE - MOBILE ================= */
@media (max-width: 767px) {
    nav ul {
        display: none;
    }

    .menu-hamburguer{
        display: flex;
    }

    nav{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        width: 100%;
        display: none;
    }

    nav.active {
    display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .hero {
    min-height:100svh;
    background-image: url(imagem/c3.png);
    background-size: cover;
    background-position:center;
    position: relative;
    }

    .hero-content h1{
        font-size: 65px;
        margin: 8px;
    }

    .overlay {
        
    background: rgba(0, 0, 0, 0.856);

    }
    .hero-content p{
    margin: 8px;
    }

    .btn-agendar {
        margin-top: 40px;
    }

    .servicos {
    margin-left: 10px;
    margin-right: 10px;
    }

    .servicos-item {
    margin-bottom: 20px;

    border-bottom: 1px solid #ffffff42;
    width: 100%;
    }

    .list-servicos {
    margin-left: 20px;
    font-size: 15px;
    }

    .list-servicos .servico-info {
    gap: 15px;
    display: flex;
    }

    .btn-agendar-servico {
    padding: 6px 10px;
    font-size: 10px;
    margin-left: auto;
    transform: translateX(1px);
    }

    /* ================= SOBRE RESPONSIVO ================= */
    
    .sobre {
    background-color: #e07f00;
    min-height: 60vh;

    }
    
    .text-sobre {
    
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    
    }

    .descricao-sobre-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    height: auto;
    
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 40px;
    }

    .img-sobre {
    border-radius: 10px;
    
    max-width: 90%;
    height: auto;

    display: block;
    align-items: center;
    justify-content: center;

    }
    
    .descricao-sobre {
    
    display: flex;
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
    line-height: 2.2rem;

    }

    .titulo-descricao {
    font-size: 1.5em;
    font-weight: 650;
    width: 350px;
    }
    
}

 

