* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #000000f0;
    color: white;
    font-family: "Oswald", sans-serif ;
    font-size: 16px;
}

header {

    background-color: #000000 ;

    font-size: clamp(0.9rem, 1.5vw, 1.1rem);

    position: fixed;
    top: 0;
    padding: 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    user-select: none;
    
    font-weight: 600;
}

nav ul{
    display: flex;
    
    gap: 40px;
    cursor: pointer;
    font-weight: 900;
}


nav ul li:hover {
    color: #E07F00; 
    transform: translateY(-1px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {
    nav ul{
    gap: 15px;
    font-size: 0.85rem;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }
}

.logo {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  font-size: clamp(1.2rem, 2.5vw, 1.6rem);

}

.barbearia {
    color: #E07F00; 
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ;
}

@media (max-width: 600px) {
    .menu-hamburguer{
        display: flex;
    }
}

@media (max-width: 600px) {
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        width: 100%;
        display: none;
    }

    nav.active {
    display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}


.hero {
    height: 800px;
    background-image: url(imagem/c3.png);
    background-size: cover;
    background-position:center;
    position: relative;
}

.overlay {
    position: absolute;    
    inset: 0;
    background: rgb(0, 0, 0, 0.90);
}

.hero-content {
    position: relative;
    z-index: 1;
    

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content p {
    letter-spacing: 2px ;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content h1 .luck {
    color: #E07F00;
    text-shadow: 1px 1px 75px #E07F00;
}

.btn-agendar {
    display: inline-block;
    padding: 10px 26px;
    background-color: #E07F00; /* dourado/barbearia */
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px; /* levemente arredondado */
    border: none;
    cursor: pointer;
    margin-top: 19px;

    /* sombra suave (drop-shadow) */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    /* transições suaves */
    transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-agendar:hover{
    background-color: #e07f007d; /* levemente mais claro */
    transform: translateY(-3px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}

@media (max-width: 600px) {
    .hero-content h1{
        font-size: 65px;
        margin: 8px;
    }

    .hero-content p{
    margin: 8px;
    }
}