/* ================= RESET GLOBAL ================= */
/* Remove estilos padrões do navegador */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Inclui padding e borda dentro da largura/altura */
    list-style: none; /* Remove marcadores de lista */
}
/* ================= ESTILO BASE DO SITE ================= */
body {
    background-color: #000000f0;
    color: white;
    font-family: "Oswald", sans-serif ;
    font-size: 16px;
}
/* ================= HEADER ================= */
/* Barra fixa no topo */
header {

    background-color: #000000 ;

    font-size: clamp(0.9rem, 1.5vw, 1.1rem);

    position: fixed; /* Fixa no topo */
    top: 0;
    padding: 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3; /* Fica acima de outros elementos */
    user-select: none; /* Impede seleção de texto */
    
    font-weight: 600;
}

/* ================= MENU DESKTOP ================= */
nav ul{
    display: flex; 
    
    gap: 40px; /* Espaçamento entre itens */
    cursor: pointer;
    font-weight: 900;
}

/* Efeito hover nos itens do menu */
nav ul li:hover {
    color: #E07F00; 
    transform: translateY(-1px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}
/* ================= LOGO ================= */
.logo {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: clamp(1.2rem, 2.5vw, 1.6rem);

}
/* Destaque da palavra "barbearia" */
.barbearia {
    color: #E07F00; 
}
/* ================= MENU HAMBÚRGUER ================= */
.menu-hamburguer {
    display: none; /* Escondido no desktop */
    flex-direction: column; /* Barrinhas empilhadas */
    gap: 5px;
    cursor: pointer;
}
/* Barrinhas do hambúrguer */
.menu-hamburguer span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ;
}
/* Remove sublinhado dos links */
a {
    text-decoration: none;
    color: inherit; /* Herda cor do elemento pai */
}

/* ================= HERO (BANNER PRINCIPAL) ================= */
.hero {
    height: 100vh; /* Altura total da tela */
    background-image: url(imagem/c3.png);
    background-size: cover; /* Imagem cobre toda a área */
    background-position:center;
    position: relative; /* Base para overlay */
}
/* Camada escura sobre a imagem */
.overlay {
    position: absolute;    
    inset: 0; /* Ocupa toda a área */
    background: rgb(0, 0, 0, 0.90);
}
/* Conteúdo central do hero */
.hero-content {
    position: relative;
    z-index: 1; /* Fica acima do overlay */
    

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Espaçamento das letras do parágrafo */
.hero-content p {
    letter-spacing: 2px ;
}

/* Título principal */
.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
/* Destaque da palavra específica dentro do h1 */
.hero-content h1 .luck {
    color: #E07F00;
    text-shadow: 1px 1px 75px #E07F00;
}
/* ================= BOTÃO PRINCIPAL ================= */
.btn-agendar {
    display: inline-block;
    padding: 10px 26px;
    background-color: #E07F00; /* dourado/barbearia */
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px; /* levemente arredondado */
    border: none;
    cursor: pointer;
    margin-top: 19px;

    /* sombra suave (drop-shadow) */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    /* transições suaves */
    transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Efeito hover do botão principal */
.btn-agendar:hover{
    background-color: #e07f007d; /* levemente mais claro */
    transform: translateY(-3px); /* sobe um pouco */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}
/* ================= SEÇÃO SERVIÇOS ================= */
.servicos {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 45px;

    padding-bottom: 10px;
    padding-top: 20px;
   
}
/* Título da seção serviços */
.text-servicos{

    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Teko", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
    margin-top: 40px;
}
/* Lista de serviços */
.list-servicos {
    font-size: 24px;

    display: block;
    margin: 15px;
    margin-left: 100px;
}
/* Preço do serviço */
.list-servicos .text-price {
    font-size: 13px;

    color: #E07F00;
    
    display: flex;
    
    
}
/* Nome do serviço */
.list-servicos .text-name {
    margin-bottom: 20px;

    display: flex;
}
/* Informações adicionais do serviço */
.list-servicos .servico-info {
    font-size: 13px;
    color: #ffffff;

    display: flex;
    gap: 150px;
    align-items: center;
    margin-bottom: 25px;
    
}
/* borda abaixo do preço serviço */
.servicos-item {

    margin-bottom: 20px;

    border-bottom: 1px solid #ffffff42;
    width: 90%;
}
/* Remove borda do último item */
.servicos-item:last-child {  /* remove a borda do último item */
    border-bottom: none;   
}
/* ================= BOTÃO DOS SERVIÇOS ================= */
.btn-agendar-servico {
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    
    padding: 8px 12px;
    
    margin-left: auto;/* Empurra botão para direita */

    border: 1px solid white;
    border-radius: 6px;
    
    background-color: transparent;


    transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

    text-transform: uppercase;
    ;
} 
/* Hover botão serviço */
.btn-agendar-servico:hover {
    background-color: #E07F00; /* dourado/barbearia */
    transform: translateY(-2px); /* sobe um pouco */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* ================= SOBRE ================= */

.sobre {
    background-color: #e07f00;
    min-height: 60vh;

    margin-top: 80px;
    padding-top: 40px;
    
}

.text-sobre {
    font-family: "Teko", sans-serif;
    font-size: 30px;

    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    
}

.span-sobre {
    color:#000;
}


.descricao-sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    padding-bottom: 80px;
    margin-top: 100px;
    margin-left: 300px;
    
}
.img-sobre {
    border-radius: 10px;
    width: 500px;
    height: 550px;
    
    box-shadow: rgba(0, 0, 0, 0.288) -10px 5px 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-sobre:hover {
    transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.titulo-descricao {
    font-size: 24px;
    margin-bottom: 20px;
    color: #E07F00;
    font-weight: bold;
}
.descricao-sobre {
    
    font-size: 18px;
    background-color: #000000f0;
    padding: 50px;
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 1.8;


    
    margin-right: 300px; 
    text-align: left;
    max-width: 700px;
    }


/* ================= RESPONSIVIDADE - TABLET ================= */
@media (min-width: 768px) and (max-width: 1024px) {
    nav ul{
    gap: 15px;
    font-size: 0.85rem;
    }
    
    .servicos {
    margin-left: 100px;
    margin-right: 100px;
    }

    .list-servicos {
    margin-left: 50px;
    font-size: 20px;
    }

    .list-servicos .servico-info {
    gap: 15px;
    }
}
/* ================= RESPONSIVIDADE - MOBILE ================= */
@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    .menu-hamburguer{
        display: flex;
    }

    nav{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        width: 100%;
        display: none;
    }

    nav.active {
    display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .hero {
    min-height:100svh;
    background-image: url(imagem/c3.png);
    background-size: cover;
    background-position:center;
    position: relative;
    }

    .hero-content h1{
        font-size: 65px;
        margin: 8px;
    }

    .hero-content p{
    margin: 8px;
    }

    .servicos {
    margin-left: 30px;
    margin-right: 30px;
    }

    .list-servicos {
    margin-left: 20px;
    font-size: 15px;
    }

    .list-servicos .servico-info {
    gap: 15px;
    }

    .btn-agendar-servico {
    padding: 6px 10px;
    font-size: 10px;}
}
