* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #023E73;
    color: white;
    font-family: "Oswald", sans-serif ;
    font-size: 16px;
}

header {

    background-color: #000000 ;

    font-size: clamp(0.9rem, 1.5vw, 1.1rem);

    position: fixed;
    top: 0;
    padding: 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    user-select: none;
    
    font-weight: 600;
}

nav ul{
    display: flex;
    
    gap: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul{
    gap: 15px;
    font-size: 0.85rem;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }
}

.logo {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  font-size: clamp(1.2rem, 2.5vw, 1.6rem);

}

.barbearia {
    color: #E07F00; 
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ;
}

@media (max-width: 600px) {
    .menu-hamburguer{
        display: flex;
    }
}

@media (max-width: 600px) {
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        width: 100%;
        display: none;
    }

    nav.active {
    display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
}

